<link rel="stylesheet" href="/css/profile.css">

<h3>Welcome <%=current_user.first_name%> <%=current_user.last_name%></h3>

<ul>
  <li>Your username: <%=current_user.username%></li>
  <li>Your first name: <%=current_user.first_name%></li>
  <li>Your last name: <%=current_user.last_name%></li>
  <li>Your email: <%=current_user.email%></li>
  <li>Your phone number: <%=current_user.phone_number%></li>
</ul>

<a href="/users/profile/edit">Edit your profile</a>
