<body>
  <div class="wrapper-div">
    <div class="main-display">
      <div class="week-view">
        <% if @day.name_of_day == "Sunday" %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[0] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[1] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[2] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[3] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[4] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[6] } %>
        <% elsif @day.name_of_day == "Saturday" %>
           <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[1] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[2] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[3] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[4] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[7] } %>
        <% elsif @day.name_of_day == "Friday" %>
           <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[2] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[3] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[4] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[7] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[8] } %>
        <% elsif @day.name_of_day == "Thursday" %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[3] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[4] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[7] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[8] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[9] } %>
        <% elsif @day.name_of_day == "Wednesday" %>
           <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[4] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[7] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[8] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[9] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[10] } %>
        <% elsif @day.name_of_day == "Tuesday" %>
           <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[5] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[7] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[8] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[9] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[10] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[11] } %>
        <% elsif @day.name_of_day == "Monday" %>
           <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Mon", week_calendar_date: @week_calendar_list[6] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Tue", week_calendar_date: @week_calendar_list[7] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Wed", week_calendar_date: @week_calendar_list[8] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Thu", week_calendar_date: @week_calendar_list[9] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Fri", week_calendar_date: @week_calendar_list[10] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sat", week_calendar_date: @week_calendar_list[11] } %>
          <%= erb :'/calendars/partials/_day_of_week_display', locals: { day_of_week_initials: "Sun", week_calendar_date: @week_calendar_list[12] } %>
        <% end %>
      </div>
    </div>
  </div>
</body>